<div class="obj-wrapper-login">
  <div class="content_login">
    <br><br>
    <div class="panel panel-primary">
      <div class="panel-heading text-center panel-relative"><h4>Submit your short!</h4></div>
    </div>
    <div class="container">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="title">Title:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" class="title-input" placeholder="Enter title">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="description">Description:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="description" class="description-input" placeholder="Enter description">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="cover">Cover url:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="cover" class="cover-input" placeholder="Enter cover url">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="video">Video url:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="video" class="video-input" placeholder="Enter video url">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div type="button" class="btn btn-default" onclick={{action 'submitForm'}}>Submit</div>
      </div>
    </div>
  </form>
</div>
  </div>
</div>
