<div class="short-rating">
	<div class="short-rating-button-container">
	    <img class="short-rating-button" onclick={{action 'votePositive'}} style="position:relative; width:50px; height:70px" src="/assets/images/ThumbsUp.png">
	    <div class="votes positive-votes"><a id="thumbsUp">0</a></div>
    </div>
    
    <div class="short-rating-button-container">
	    <img class="short-rating-button" onclick={{action 'voteNegative'}} style="position:relative; width:50px; height:70px" src="/assets/images/ThumbsDown.png">
	    <div class="votes negative-votes"><a id="thumbsDown">0</a></div>
    </div>
</div>

<div class="short-rating-counter">
	 
	 
</div>

 