.video-iframe {
	margin: auto;
}

.short-video-container {
	display: flex;
}

.short-info-container {
	display: flex;
}

.short-description-container {
	width: 50%;
	margin: auto;
	display: flex;
	margin-top: 5px;
}

.short-description {
	display: flex;
	flex: 1;
}

.short-description-text {
	color: #eaeaea;
	margin: auto;
	margin-right: 5px;
	margin-left: 0px;
}

.short-rating {
	display: flex;
}

.short-rating-button {
	cursor: pointer;
	margin-right: 5px;
}

.return-button {
	float: right;
	color: white;
	margin-right: 16px;
	margin-top: 30px;
	align: bottom;
}

.short-rating-counter {
	color: #000000
	
}

.video-header {
	width: 100%;
}

.short-video-title {
	display: inline-block;
}

.short-rating-button-container {
	display: flex;
	flex-direction: column;
}

.votes {
	display: flex;

	a { margin: auto; font-weight: bold; }
}

.positive-votes {
	a { color: green; }
}

.negative-votes {
	a { color: red; }
}