<div class="obj-wrapper-movies">
  <div class="content_login">
    <br>

<div class="video-header">
  <h1 class="short-video-title">{{model.title}}</h1>
  <h3 class="return-button">{{#link-to "shorts"}}Volver{{/link-to}}</h3>
</div>
<div id="youvideo" class="short-video-container">
  <iframe src={{model.video}} width="840" height="472.5" frameborder="0" allowfullscreen="allowfullscreen" allowScriptAccess="always" class="video-iframe"></iframe>
</div>
<div class="short-info-container">
  <div class="short-description-container">
    <div class="short-description">
      <p class="short-description-text">{{model.description}}</p>
    </div>
    
  {{short-rates}}

  </div>
</div>
  </div>
</div>
