<div class="obj-wrapper-movies">
  <div class="content_movies">
    <br>

    <div class="panel panel-primary">
      <div class="panel-heading text-center panel-relative"><h4>Most Viewed Shorts</h4></div>
    </div>
    <div class="container">
      {{movies-row shorts=model.shorts}}
    </div>



    <br>

    <div class="panel panel-primary">
      <div class="panel-heading text-center panel-relative"><h4>Most Viewed Shorts</h4></div>
    </div>
    <div class="container">
      {{movies-row shorts=model.shorts}}
    </div>
  </div>
</div>

{{outlet}}